* {
  box-sizing: border-box;
}

body {
  background-color: #1e2b43;

}

.card--body {
  border-radius: 15px;
  box-sizing: border-box;
  background-color: rgb(15, 11, 26);
  max-width: 300px;
  max-height: 400px;
  color: white;
  text-align: center;
}

.card--photo {

  box-sizing: border-box;
  background-color: rgb(15, 11, 26);
  max-width: 300px;
  max-height: 400px;
  color: white;
  text-align: center;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}